*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
   
}

body{
    height: 100vh;
   
    background: linear-gradient(to right, #243B55, #141e30);
}

#main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
 
}

 #card{

    border: 2px solid aqua;
    border-radius: 2%;
    place-self: center;
    width: 800px;
    height: 102%;
    margin-top: 1%;


}

#card img {
    margin: 50px;
    opacity: 0.7;
    border-radius: 2%;
    width: 620px;
    height: auto;
}

#card h3{

    color: rgb(126, 212, 212);
    font-size: 2rem;
    

}

#card p{
    margin-top: 5px;
    font-size: 1rem;
    color: white;
    opacity: 0.7;
}

#card a{
    margin: 40px;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    opacity: 0.7;
}

#card a:hover{
    text-underline-position: auto;
    color: aqua;
    opacity: 1;
}

#card .info{
    margin:50px 20px;

   
}

#card div a{
    margin: 12px;
    margin-bottom: 40px;
    border: 2px solid aqua;
    border-radius: 2%;
    padding: 9px;
}

.return--btn{
    margin: 0 20px;
    display: grid;
}
.return--btn a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    opacity: 0.7;
}

.exit a{
    
    background-color: teal;
}

.links--info{
    margin: 40px;
}

@media (max-width:1200px){


    #card{

        width: 320px;
        margin-top: 5%;
        margin-bottom: 5%;
    
    }

    #card img {
        margin: 10px;
        opacity: 0.9;
        border-radius: 2%;
        width: 60%;
        height: auto;
      
    }

    #card div a{
        font-size: 19px;
    }

    #card p{
        font-size: 1.2rem;;
    }

    body{
        height: 100%;
    }

}